{
    "NEXT_PORT_DEV" : 5000,
    "ELECTRON_IS_DEV" : false,

    "ABAS_APP_NAME" : "WHS-Portal_Synchronize",
    "ABAS_CLIENT_EDP_VERSION" : "3.08",
    "ABAS_HOST" : "192.168.10.2",
    "ABAS_PORT" : "6550",
    "ABAS_MANDANT" : "erp2",
    "ABAS_PASSWORT_CKR" : "dummy",
    "ABAS_PASSWORT_KRW" : "dummy"
}